.button {
  background-color: skyblue;
  padding: 14px;
  border-radius: 50%;
}
.email {
  color: white;
  font-size: 20px;
}

.button_layout {
  padding-top: 5px;
}
.button1 {
  background-color: black;
  padding: 15px;
  border-radius: 50%;
}
.apple {
  color: white;
  font-size: 14px;
}
