.first {
  width: 100vw;
  height: 100vh;
  /* margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; */
}
.first__main {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.first__text {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.first__text--sta {
  font-size: 1rem;
  font-weight: 600;
  color: #97c125;
}
.first__text--heavy {
  font-size: 4.375rem;
  font-weight: 700;
}
.first__text--mid {
  font-size: 0.9rem;
}

.first__text--button {
  width: 175px;
  height: 60px;
  background-color: black;
  border-radius: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  display: 100%;
  max-width: 1400px;
  position: relative;
  margin: 0 auto;
}
.arrow > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobilefistimg {
  display: none;
}
